# Temporary files
.vs/
*.user
*.suo

# Compiled binaries
bin/
obj/
out/

# Publish
*.Publish.xml

# Logs
*.log
*.tlog
*.cache
*.db
*.pid
*.tmp

# Environment
*.env
.env.*

# IDE settings
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store

docker-compose.override.yml
